{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Reporting Webhooks",
    "description": "Customer.io lets you subscribe to reporting webhooks. This page details the events that we report back to your webhook URL.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://api.customer.io",
      "description": "The base URL for broadcasts, transactional messages, and data-retrieval APIs. These endpoints use bearer authorization, and require a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app)."
    }
  ],
  "tags": [
    {
      "name": "Reporting webhooks",
      "description": "Set up webhooks to inform an external service about Customer.io events. Webhooks can notify you immediately when customer attributes change or when people open your messages.\n\n## Set up webhooks\n1. [Log in](https://fly.customer.io/login) and go to *Data & Integrations* >  *Integrations*.\n\n1. Find and select **Reporting Webhooks**.\n\n1. Click **Add Reporting Webhook**.\n\n1. Enter the **Webhook Endpoint**—the URL where you want to receive events. The URL can be either HTTP or HTTPs, but we recommended HTTPS to protect customer information.\n\n1. Select the events you want to receive.\n\n1. (Optional) Select the **Send Frequency** and **Body Content** options.\n    * **Send Frequency:** This determines whether you receive events the first time they happen or every time they happen.\n    *  **Body Content:** Enable this to include message body content in all of the \"Sent\" events we send to you.\n\n1. Click **Save and Enable Webhook**.\n\n## Timeouts and failures\n\nWe have a 4 second timeout for calls to your webhook endpoint. If we don't get a successful (2xx) response during those 4 seconds, we retry the webhook over a period of seven days with an exponential backoff. We backlog subsequent webhook calls and won't continue processing them until the timed-out webhook call returns a successful response or the seven day retry period expires.\n\nIf your webhook server responds with any of the following status codes, we'll wait for one hour before we retry the failed call. As with timeouts, we use the same exponential backoff for retries and we'll backlog subsequent webhook calls until the failed call returns a successful response.\n\n* Error codes: `400`, `401`, `402`, `403`, `404`, `405`, `410`, `429`, `500`, `502`, `521`.\n* Error responses: `EOF`, `server misbehaving`, `connect: connection refused`, `read: connection reset by peer`, `tls: failed to verify certificate: x509:`\n\nIf you have issues with your webhook server and you want to temporarily block our servers, you can look up the current set of IP addresses we use [via this API endpoint](/api/app/#operation/getCioAllowlist).\n\n## Securely verifying requests\n\nFor security purposes, every email webhook is delivered with an `X-CIO-Signature` header. This signature is generated by combining your webhook signing key with the body of webhook request using a standard HMAC-SHA256 hash. You can find the signing key on the Email Activity Webhook integration page in your account settings. (This is the same page where you enter your webhook endpoint.)\n\nTo validate a signed request, first you'll need to retrieve the `X-CIO-Timestamp` header sent with the webhook request, and the body of the request. Combine the version number, timestamp and body delimited by colons to form a string in the form `v0:<timestamp>:<body>` (the version number is always `v0`). Using HMAC-SHA256, hash the string using your webhook signing secret as the hash key. Compare this value to the value of the `X-CIO-Signature` header sent with the request to confirm that the request originated with Customer.io.\n"
    },
    {
      "name": "Customer Events",
      "description": "Customer events occur when a a person changes their subscription settings—their `unsubscribed` or `cio_subscription_preferences` attributes change. These changes happen without a reference to a message—like when a customer changes a subscription preference in their account information. \n\n## Customer subscribed\nA person subscribed to messages from you—their `unsubscribed` attribute was set to `false`. \n<SchemaDefinition schemaRef=\"#/components/schemas/person_subscribed\" />\n\n## Customer Unsubscribed\nA person unsubscribed to messages from you—their `unsubscribed` attribute was set to `true`. \n<SchemaDefinition schemaRef=\"#/components/schemas/person_unsubscribed\" />\n\n## Customer subscription preferences changed\nA person changed their subscription preferences—either through our subscription center, or you changed their `cio_subscription_preferences` attribute values. [Learn more about the subscription center](/subscription-center/).\n<SchemaDefinition schemaRef=\"#/components/schemas/person_cio_subscription_preferences_changed\" />\n"
    },
    {
      "name": "Email Events",
      "description": "Events that occur during the lifecycle of an email delivery. Some events are reported by the delivery provider.\n\n## Email Drafted\nAn email draft was created.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_drafted\" />\n\n## Email Attempted\n\nAn email could not be sent to the email provider. This metric indicates that we will retry to send the email.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_attempted\" />\n\n## Email Sent\nA message was successfully sent.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_sent\" />\n\n## Email Delivered\nA message was successfully delivered to a recipient.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_delivered\" />\n\n## Email Opened\nAn email was opened.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_opened\" />\n\n## Email Clicked\nA tracked link in an email was clicked.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_clicked\" />\n\n## Email Converted\nA person matched a conversion goal attributed to an email.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_converted\" />\n\n## Email Unsubscribed\nThe recipient unsubscribed based on a particular message.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_unsubscribed\" />\n\n## Email Bounced\nThe delivery provider could not deliver an email.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_bounced\" />\n\n## Email Suppressed\nCustomer.io did not send an email because it was addressed to a person who was suppressed. The metric `dropped` indicates a suppressed email event.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_dropped\" />\n\n## Email Spammed\nA recipient marked an email as spam.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_spammed\" />\n\n## Email Failed\nAn email couldn't be sent to the delivery provider.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_failed\" />\n\n## Email Undeliverable\n\nA message was undeliverable. Undeliverable messages are messages that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/email_undeliverable\" />\n"
    },
    {
      "name": "SMS Events",
      "description": "Events that occur during the lifecycle of an SMS delivery. Some events are reported by the delivery provider.\n## SMS Drafted\nAn SMS notification was drafted.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_drafted\" />\n\n## SMS Attempted\nAn SMS could not be sent to the delivery provider, but will retry.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_attempted\" />\n\n## SMS Sent\nAn SMS notification was sent.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_sent\" />\n\n## SMS Delivered\nAn SMS notification was delivered to a recipient.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_delivered\" />\n\n## SMS Clicked\nA recipient tapped a link in an SMS message they received.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_clicked\" />\n\n## SMS Converted\nA person matched a conversion goal attributed to an SMS.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_converted\" />\n\n## SMS Bounced\nThe delivery provider was unable to deliver an SMS message.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_bounced\" />\n\n## SMS Failed\nAn SMS couldn't be sent to the delivery provider.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_failed\" />\n\n## SMS Undeliverable\n\nA message was undeliverable. Undeliverable messages are messages that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/sms_undeliverable\" />\n"
    },
    {
      "name": "Push Notification Events",
      "description": "Events that occur during the lifecycle of an push notification delivery.\n## Push Drafted\nA push notification was drafted.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_drafted\" />\n\n## Push Attempted\nA push notification was attempted but unsuccessful. This generally means that we'll try again.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_attempted\" />\n\n## Push Sent\nA push notification was sent to a recipient.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_sent\" />\n\n## Push Delivered\nA push notification was delivered to a recipient.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_delivered\" />\n\n## Push Opened\nA device opened a push notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_opened\" />\n\n## Push Clicked\nA recipient tapped a link in a push notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_clicked\" />\n\n## Push Converted\nA person matched a conversion goal attributed to a push notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_converted\" />\n\n## Push Bounced\nThe delivery provider reported at least one invalid device token.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_bounced\" />\n\n## Push Dropped\nA push notification wasn't sent because at least one device token previously bounced.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_dropped\" />\n\n## Push Failed\nA push notification couldn't be sent to the delivery provider.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_failed\" />\n\n## Push Undeliverable\n\nA message was undeliverable. Undeliverable messages are messages that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/push_undeliverable\" />\n"
    },
    {
      "name": "In-App Message Events",
      "description": "Events that occur during the lifecycle of an in-app message.\n## In-App Drafted\nA in-app notification was drafted.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_drafted\" />\n\n## In-App Attempted\nA in-app notification was attempted but unsuccessful. This generally means that we'll try again.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_attempted\" />\n\n## In-App Sent\nA in-app notification was sent to a recipient.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_sent\" />\n\n## In-App Opened\nA device opened a in-app notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_opened\" />\n\n## In-App Clicked\nA recipient tapped a link in a in-app notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_clicked\" />\n\n## In-App Converted\nA person matched a conversion goal attributed to a in-app notification.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_converted\" />\n\n## In-App Failed\nA in-app notification couldn't be sent to the delivery provider.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_failed\" />\n\n## In-App Undeliverable\n\nA message was undeliverable. Undeliverable messages are messages that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/in_app_undeliverable\" />\n"
    },
    {
      "name": "Slack Events",
      "description": "Events generated from a slack message delivery.\n## Slack Drafted\nA slack message was drafted.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_drafted\" />\n\n## Slack Attempted\nA slack message could not be sent and will be retried.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_attempted\" />\n\n## Slack Sent\nA slack message was sent.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_sent\" />\n\n## Slack Clicked\nA person clicked a tracked link in a Slack message.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_clicked\" />\n\n## Slack Failed\nA slack message failed.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_failed\" />\n\n## Slack Undeliverable\n\nA message was undeliverable. Undeliverable messages are messages that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/slack_undeliverable\" />\n"
    },
    {
      "name": "Webhook Events",
      "description": "Events that occur as a part of a webhook delivery.\n## Webhook Drafted\nA webhook draft was created.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_drafted\" />\n\n## Webhook Attempted\nA webhook failed to send, but will be retried.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_attempted\" />\n\n## Webhook Sent\nA webhook was sent from Customer.io.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_sent\" />\n\n## Webhook Clicked\nThe webhook recipient opened a tracked link in the webhook payload.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_clicked\" />\n\n## Webhook Failed\nA webhook failed to send.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_failed\" />\n\n## Webhook Undeliverable\n\nA webhook was undeliverable. Undeliverable webhooks are webhooks that have:\n* Hit a message limit\n* Come from a newsletter that was cancelled or deleted\n* Are sent from an environment that has delivery disabled (which is something you might do if you’re testing an integration). \n\nIf you’re not using message limits, you probably won’t see this event.\n<SchemaDefinition schemaRef=\"#/components/schemas/webhook_undeliverable\" />\n"
    }
  ],
  "paths": {
    "/v1/reporting_webhooks": {
      "servers": [
        {
          "url": "https://api.customer.io",
          "description": "This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app)."
        }
      ],
      "post": {
        "summary": "Create a reporting webhook",
        "operationId": "createWebhook",
        "security": [
          {
            "Bearer-Auth": []
          }
        ],
        "description": "Create a new webhook configuration.",
        "tags": [
          "Reporting Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reportingWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns your webhook configuration and the ID of the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportingWebhook"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "get": {
        "summary": "List reporting webhooks",
        "operationId": "listWebhooks",
        "security": [
          {
            "Bearer-Auth": []
          }
        ],
        "description": "Return a list of all of your reporting webhooks",
        "tags": [
          "Reporting Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Returns an array of your `reporting_webhooks`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reporting_webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/reportingWebhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/v1/reporting_webhooks/{webhook_id}": {
      "servers": [
        {
          "url": "https://api.customer.io",
          "description": "This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app)."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/webhook_id"
        }
      ],
      "get": {
        "summary": "Get a reporting webhook",
        "operationId": "getWebhook",
        "security": [
          {
            "Bearer-Auth": []
          }
        ],
        "description": "Returns information about a specific reporting webhook.",
        "tags": [
          "Reporting Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Returns an individual webhook configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportingWebhook"
                }
              }
            }
          },
          "404": {
            "description": "The webhook ID does not exist."
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "put": {
        "summary": "Update a webhook configuration",
        "operationId": "updateWebhook",
        "security": [
          {
            "Bearer-Auth": []
          }
        ],
        "description": "Update the configuration of a reporting webhook. Turn events on or off, change the webhook URL, etc.",
        "tags": [
          "Reporting Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reportingWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns your webhook configuration and the ID of the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportingWebhook"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "404": {
            "description": "The webhook ID does not exist."
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "delete": {
        "summary": "Delete a reporting webhook",
        "operationId": "deleteWebhook",
        "security": [
          {
            "Bearer-Auth": []
          }
        ],
        "description": "Delete a reporting webhook's configuration.",
        "tags": [
          "Reporting Webhooks"
        ],
        "responses": {
          "200": {
            "description": "A successful request has no response."
          },
          "404": {
            "description": "The webhook ID does not exist."
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    }
  },
  "x-webhooks": {
    "reportingWebhook": {
      "post": {
        "summary": "Reporting webhook format",
        "description": "Customer.io sends events to your webhook URL in the following format. Events are generally organized by `object_type`—representing the message or Customer.io action (i.e. `email`, `sms`, etc)—and the specific `metric` pertaining to the type (i.e. `sent`, `bounced`, etc).",
        "operationId": "reportingWebhook",
        "tags": [
          "Reporting Webhooks",
          "Reporting webhooks"
        ],
        "security": [],
        "parameters": [
          {
            "name": "x-cio-timestamp",
            "schema": {
              "type": "integer",
              "format": "unix timestamp"
            },
            "description": "The timestamp when the request was sent.",
            "in": "header",
            "required": true
          },
          {
            "name": "x-cio-signature",
            "in": "header",
            "description": "A string combining your webhook signing key with the body of webhook request using an HMAC-SHA256 hash, used to help you [securely verify requests](/webhooks#securely-verifying-requests). \n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/customer_event"
                  },
                  {
                    "$ref": "#/components/schemas/email_event"
                  },
                  {
                    "$ref": "#/components/schemas/push_event"
                  },
                  {
                    "$ref": "#/components/schemas/in_app_event"
                  },
                  {
                    "$ref": "#/components/schemas/sms_event"
                  },
                  {
                    "$ref": "#/components/schemas/slack_event"
                  },
                  {
                    "$ref": "#/components/schemas/webhook_event"
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "reporting_webhook": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/customer_event"
          },
          {
            "$ref": "#/components/schemas/email_event"
          },
          {
            "$ref": "#/components/schemas/push_event"
          },
          {
            "$ref": "#/components/schemas/in_app_event"
          },
          {
            "$ref": "#/components/schemas/sms_event"
          },
          {
            "$ref": "#/components/schemas/slack_event"
          },
          {
            "$ref": "#/components/schemas/webhook_event"
          }
        ],
        "discriminator": {
          "propertyName": "object_type"
        }
      },
      "customer_event": {
        "title": "Customer",
        "description": "Events that occur when a customer subscribes or unsubscribes from your messages.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/person_subscribed"
          },
          {
            "$ref": "#/components/schemas/person_unsubscribed"
          },
          {
            "$ref": "#/components/schemas/person_cio_subscription_preferences_changed"
          }
        ]
      },
      "customer_event_common": {
        "type": "object",
        "required": [
          "event_id",
          "object_type",
          "timestamp",
          "data"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "object_type": {
            "type": "string",
            "enum": [
              "customer"
            ],
            "description": "The event represents a customer subscribing, unsubscribing, or changing their subscription preferences.",
            "example": "customer"
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          },
          "data": {
            "description": "Contains information about the event, specific to the `object_type` and `metric`.",
            "type": "object",
            "required": [
              "identifiers",
              "customer_id",
              "email_address"
            ],
            "properties": {
              "customer_id": {
                "$ref": "#/components/schemas/webhook_customer_id"
              },
              "email_address": {
                "$ref": "#/components/schemas/email_address"
              },
              "identifiers": {
                "$ref": "#/components/schemas/webhook_identifiers"
              }
            }
          }
        }
      },
      "person_subscribed": {
        "title": "subscribed",
        "description": "A person subscribed to messages from you—their `unsubscribed` attribute was set to `false`.",
        "allOf": [
          {
            "type": "object",
            "required": [
              "metric"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "subscribed"
                ],
                "description": "The metric recorded by the event. For `customer` events, this is whether the customer explicitly subscribed or unsubscribed."
              }
            }
          },
          {
            "$ref": "#/components/schemas/customer_event_common"
          }
        ]
      },
      "person_unsubscribed": {
        "title": "unsubscribed",
        "description": "A person unsubscribed to messages from you—their `unsubscribed` attribute was set to `true`.",
        "allOf": [
          {
            "type": "object",
            "required": [
              "metric"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "unsubscribed"
                ],
                "description": "The metric recorded by the event. For `customer` events, this is whether the customer explicitly subscribed or unsubscribed."
              }
            }
          },
          {
            "$ref": "#/components/schemas/customer_event_common"
          }
        ]
      },
      "person_cio_subscription_preferences_common": {
        "oneOf": [
          {
            "title": "API triggered broadcast",
            "required": [
              "trigger_id",
              "broadcast_id",
              "delivery_id",
              "action_id"
            ],
            "type": "object",
            "properties": {
              "trigger_id": {
                "$ref": "#/components/schemas/trigger_id"
              },
              "customer_id": {
                "$ref": "#/components/schemas/webhook_customer_id"
              },
              "delivery_id": {
                "$ref": "#/components/schemas/delivery_id"
              },
              "action_id": {
                "$ref": "#/components/schemas/action_id_webhook"
              },
              "broadcast_id": {
                "$ref": "#/components/schemas/broadcast_id",
                "nullable": true
              },
              "journey_id": {
                "$ref": "#/components/schemas/journey_id"
              },
              "parent_action_id": {
                "$ref": "#/components/schemas/parent_action_id"
              }
            }
          },
          {
            "title": "Campaign",
            "type": "object",
            "required": [
              "campaign_id",
              "delivery_id",
              "action_id"
            ],
            "properties": {
              "campaign_id": {
                "$ref": "#/components/schemas/campaign_id",
                "nullable": true
              },
              "customer_id": {
                "$ref": "#/components/schemas/webhook_customer_id"
              },
              "delivery_id": {
                "$ref": "#/components/schemas/delivery_id"
              },
              "action_id": {
                "$ref": "#/components/schemas/action_id_webhook"
              },
              "journey_id": {
                "$ref": "#/components/schemas/journey_id"
              },
              "parent_action_id": {
                "$ref": "#/components/schemas/parent_action_id"
              },
              "trigger_event_id": {
                "$ref": "#/components/schemas/trigger_event_id"
              }
            }
          },
          {
            "title": "Newsletter",
            "type": "object",
            "required": [
              "newsletter_id",
              "delivery_id"
            ],
            "properties": {
              "customer_id": {
                "$ref": "#/components/schemas/webhook_customer_id"
              },
              "delivery_id": {
                "$ref": "#/components/schemas/delivery_id"
              },
              "newsletter_id": {
                "$ref": "#/components/schemas/newsletter_id",
                "nullable": true
              },
              "content_id": {
                "$ref": "#/components/schemas/content_id_event"
              }
            }
          }
        ]
      },
      "person_cio_subscription_preferences_changed": {
        "title": "changed subscription preferences",
        "description": "A person changed their subscription preferences through our subscription center or you changed their `cio_subscription_preferences` attribute values.\n\nSome fields in the `data` object change based on whether the message that resulted in the change originated from a broadcast, campaign, or newsletter.\n",
        "type": "object",
        "required": [
          "metric",
          "event_id",
          "data",
          "timestamp"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "enum": [
              "cio_subscription_preferences_changed"
            ],
            "description": "The event we're reporting to your webhook endpoint. In this case, a person changed their subscription preferences."
          },
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "delivery_type": {
            "type": "string",
            "enum": [
              "email",
              "sms",
              "push",
              "in_app",
              "slack",
              "webhook"
            ],
            "description": "The type of delivery that resulted in a change to preferences.",
            "example": "email"
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          },
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "required": [
                  "identifiers",
                  "customer_id",
                  "email_address",
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Contains the subscription preferences that a person changed in a stringified object format. The `topic_1` key refers to a topic with an ID of `1`; you can get more information about each topic from our [App API](/api/app/#operation/getTopics).",
                    "example": "{\"topics\":{\"topic_1\":true}}"
                  },
                  "customer_id": {
                    "$ref": "#/components/schemas/webhook_customer_id"
                  },
                  "email_address": {
                    "$ref": "#/components/schemas/email_address"
                  },
                  "identifiers": {
                    "$ref": "#/components/schemas/webhook_identifiers"
                  }
                }
              },
              {
                "$ref": "#/components/schemas/person_cio_subscription_preferences_common"
              }
            ]
          }
        }
      },
      "email_event": {
        "title": "Email",
        "description": "Events representing an email.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/email_drafted"
          },
          {
            "$ref": "#/components/schemas/email_attempted"
          },
          {
            "$ref": "#/components/schemas/email_sent"
          },
          {
            "$ref": "#/components/schemas/email_delivered"
          },
          {
            "$ref": "#/components/schemas/email_opened"
          },
          {
            "$ref": "#/components/schemas/email_clicked"
          },
          {
            "$ref": "#/components/schemas/email_converted"
          },
          {
            "$ref": "#/components/schemas/email_unsubscribed"
          },
          {
            "$ref": "#/components/schemas/email_bounced"
          },
          {
            "$ref": "#/components/schemas/email_dropped"
          },
          {
            "$ref": "#/components/schemas/email_spammed"
          },
          {
            "$ref": "#/components/schemas/email_failed"
          },
          {
            "$ref": "#/components/schemas/email_undeliverable"
          }
        ],
        "discriminator": {
          "propertyName": "metric",
          "mapping": {
            "drafted": "#/components/schemas/email_drafted",
            "attempted": "#/components/schemas/email_attempted",
            "sent": "#/components/schemas/email_sent",
            "delivered": "#/components/schemas/email_delivered",
            "opened": "#/components/schemas/email_opened",
            "clicked": "#/components/schemas/email_clicked",
            "converted": "#/components/schemas/email_converted",
            "unsubscribed": "#/components/schemas/email_unsubscribed",
            "bounced": "#/components/schemas/email_bounced",
            "dropped": "#/components/schemas/email_dropped",
            "spammed": "#/components/schemas/email_spammed",
            "failed": "#/components/schemas/email_failed",
            "undeliverable": "#/components/schemas/email_undeliverable"
          }
        }
      },
      "email_event_common": {
        "type": "object",
        "required": [
          "event_id",
          "object_type",
          "timestamp"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "object_type": {
            "type": "string",
            "enum": [
              "email"
            ],
            "description": "The event relates to an email action."
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          }
        }
      },
      "email_drafted": {
        "title": "drafted",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "drafted"
                ],
                "description": "The metric recorded by the event. For `customer` events, this is whether the customer explicitly subscribed or unsubscribed."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_attempted": {
        "title": "attempted",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "attempted"
                ],
                "description": "An email could not be sent to the delivery provider and will be retried. The `failure_message` provides the reason for the failure."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_sent": {
        "title": "sent",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "sent"
                ],
                "description": "A message was successfully sent. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "The body content of your email. This key only appears if you enabled the *Body Content* option when setting up your webhook."
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_delivered": {
        "title": "delivered",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "delivered"
                ],
                "description": "A message was successfully delivered to a recipient."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_opened": {
        "title": "opened",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "opened"
                ],
                "description": "An email was opened. If either property `proxied` or `prefetched` is `true`, the email was opened by a machine. Otherwise, it was opened by a human."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      },
                      "proxied": {
                        "type": "boolean",
                        "description": "If true, the email was fetched by a proxy to hide the user identity, IP address, etc."
                      },
                      "prefetched": {
                        "type": "boolean",
                        "description": "If true, the email was opened by Gmail, Apple Privacy Protection, or a user agent identified as a bot."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_clicked": {
        "title": "clicked",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "clicked"
                ],
                "description": "A tracked link in an email was clicked. If the property `machine` is `true`, the click was generated by a machine. Otherwise, it was clicked by a human."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject",
                      "href",
                      "link_id"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      },
                      "href": {
                        "$ref": "#/components/schemas/href"
                      },
                      "link_id": {
                        "$ref": "#/components/schemas/link_id"
                      },
                      "machine": {
                        "type": "boolean",
                        "description": "If true, the click was generated by a machine."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_converted": {
        "title": "converted",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "converted"
                ],
                "description": "A person matched a conversion goal attributed to an email."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_unsubscribed": {
        "title": "unsubscribed",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "unsubscribed"
                ],
                "description": "The recipient unsubscribed based on a particular message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_bounced": {
        "title": "bounced",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "bounced"
                ],
                "description": "The delivery provider could not deliver an email."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject",
                      "failure_message"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      },
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_dropped": {
        "title": "dropped",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "dropped"
                ],
                "description": "Customer.io did not send an email because it was addressed to a person who was suppressed."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject",
                      "failure_message"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      },
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_spammed": {
        "title": "spammed",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "spammed"
                ],
                "description": "A recipient marked an email as spam."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_failed": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "failed"
                ],
                "description": "An email couldn't be sent to the delivery provider."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject",
                      "failure_message"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "email_undeliverable": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/email_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "undeliverable"
                ],
                "description": "A message was undeliverable. Undeliverable messages are messages that have either hit a message limit, come from a newsletter that was cancelled or deleted, or an environment that has delivery disabled (which is something you might do if you’re testing an integration). If you’re not using message limits, you probably won’t see this event."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "subject",
                      "failure_message"
                    ],
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email."
                      },
                      "recipient": {
                        "$ref": "#/components/schemas/recipient_not_templated"
                      },
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_event": {
        "title": "Push",
        "description": "Events representing a push notification.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/push_drafted"
          },
          {
            "$ref": "#/components/schemas/push_attempted"
          },
          {
            "$ref": "#/components/schemas/push_delivered"
          },
          {
            "$ref": "#/components/schemas/push_sent"
          },
          {
            "$ref": "#/components/schemas/push_opened"
          },
          {
            "$ref": "#/components/schemas/push_clicked"
          },
          {
            "$ref": "#/components/schemas/push_converted"
          },
          {
            "$ref": "#/components/schemas/push_bounced"
          },
          {
            "$ref": "#/components/schemas/push_dropped"
          },
          {
            "$ref": "#/components/schemas/push_failed"
          },
          {
            "$ref": "#/components/schemas/push_undeliverable"
          }
        ],
        "discriminator": {
          "propertyName": "metric",
          "mapping": {
            "drafted": "#/components/schemas/push_drafted",
            "attempted": "#/components/schemas/push_attempted",
            "delivered": "#/components/schemas/push_delivered",
            "sent": "#/components/schemas/push_sent",
            "opened": "#/components/schemas/push_opened",
            "clicked": "#/components/schemas/push_clicked",
            "converted": "#/components/schemas/push_converted",
            "bounced": "#/components/schemas/push_bounced",
            "dropped": "#/components/schemas/push_dropped",
            "failed": "#/components/schemas/push_failed",
            "undeliverable": "#/components/schemas/push_undeliverable"
          }
        }
      },
      "push_event_common": {
        "type": "object",
        "required": [
          "event_id",
          "object_type",
          "timestamp"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "object_type": {
            "type": "string",
            "enum": [
              "push"
            ],
            "description": "The event relates to an push notification."
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          }
        }
      },
      "push_drafted": {
        "title": "drafted",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "attempted"
                ],
                "description": "A push notification was drafted."
              },
              "data": {
                "$ref": "#/components/schemas/event_common_data"
              }
            }
          }
        ]
      },
      "push_attempted": {
        "title": "attempted",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "attempted"
                ],
                "description": "A push notification was attempted but unsuccessful. This generally means that we'll try again."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_sent": {
        "title": "sent",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "sent"
                ],
                "description": "A push notification was sent to a recipient. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "The stringified payload for your push notification. This key only appears if you enabled the *Body Content* option when setting up your webhook."
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id"
                          ],
                          "description": "The person's devices that the push was sent to. Each object in the array represents a device.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "type": "string",
                              "description": "The device platform—ios or android.",
                              "enum": [
                                "ios",
                                "android"
                              ]
                            },
                            "failure_message": {
                              "type": "string",
                              "description": "If push failed for the device, we'll the list reason it failed."
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_delivered": {
        "title": "delivered",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "delivered"
                ],
                "description": "A push notification was delivered to a recipient device."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id"
                          ],
                          "description": "Describes the device the push was sent to.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "type": "string",
                              "description": "The device platform—ios or android.",
                              "enum": [
                                "ios",
                                "android"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_opened": {
        "title": "opened",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "opened"
                ],
                "description": "A device opened a push notification."
              },
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id"
                          ],
                          "description": "Describes the device of the recipient who clicked/tapped the link.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "$ref": "#/components/schemas/device_platform"
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_clicked": {
        "title": "clicked",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "clicked"
                ],
                "description": "A recipient tapped a link in a push notification."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients",
                      "href",
                      "link_id"
                    ],
                    "properties": {
                      "href": {
                        "$ref": "#/components/schemas/href"
                      },
                      "link_id": {
                        "$ref": "#/components/schemas/link_id"
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id"
                          ],
                          "description": "Describes the device of the recipient who tapped the link.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "type": "string",
                              "description": "The device platform—ios or android.",
                              "enum": [
                                "ios",
                                "android"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_converted": {
        "title": "converted",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "converted"
                ],
                "description": "A person matched a conversion goal attributed to a push notification."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id"
                          ],
                          "description": "Describes the device of the recipient who tapped the link.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "type": "string",
                              "description": "The device platform—ios or android.",
                              "enum": [
                                "ios",
                                "android"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_bounced": {
        "title": "bounced",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "bounced"
                ],
                "description": "The delivery provider reported at least one invalid device token."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id",
                            "device_platform",
                            "failure_message"
                          ],
                          "description": "Describes the device of the recipient who tapped the link.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "$ref": "#/components/schemas/device_platform"
                            },
                            "failure_message": {
                              "type": "string",
                              "description": "The reason the push failed for this particular recipient."
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_dropped": {
        "title": "dropped",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "dropped"
                ],
                "description": "A push notification wasn't sent because at least one device token previously bounced."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipients"
                    ],
                    "properties": {
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "device_id",
                            "device_platform",
                            "failure_message"
                          ],
                          "description": "Describes the device of the recipient who tapped the link.",
                          "properties": {
                            "device_id": {
                              "type": "string",
                              "description": "The device identifier/token."
                            },
                            "device_platform": {
                              "$ref": "#/components/schemas/device_platform"
                            },
                            "failure_message": {
                              "type": "string",
                              "description": "The reason the push failed for this particular recipient."
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_failed": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "failed"
                ],
                "description": "A push notification couldn't be sent to the delivery provider."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "push_undeliverable": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/push_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "undeliverable"
                ],
                "description": "A message was undeliverable. Undeliverable messages are messages that have either hit a message limit, come from a newsletter that was cancelled or deleted, or an environment that has delivery disabled (which is something you might do if you’re testing an integration). If you’re not using message limits, you probably won’t see this event."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_event": {
        "title": "SMS",
        "description": "Events pertaining to SMS notifications.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/sms_drafted"
          },
          {
            "$ref": "#/components/schemas/sms_attempted"
          },
          {
            "$ref": "#/components/schemas/sms_sent"
          },
          {
            "$ref": "#/components/schemas/sms_delivered"
          },
          {
            "$ref": "#/components/schemas/sms_clicked"
          },
          {
            "$ref": "#/components/schemas/sms_converted"
          },
          {
            "$ref": "#/components/schemas/sms_bounced"
          },
          {
            "$ref": "#/components/schemas/sms_failed"
          }
        ],
        "discriminator": {
          "propertyName": "metric",
          "mapping": {
            "drafted": "#/components/schemas/sms_drafted",
            "attempted": "#/components/schemas/sms_attempted",
            "sent": "#/components/schemas/sms_sent",
            "delivered": "#/components/schemas/sms_delivered",
            "clicked": "#/components/schemas/sms_clicked",
            "converted": "#/components/schemas/sms_converted",
            "bounced": "#/components/schemas/sms_bounced",
            "failed": "#/components/schemas/sms_failed"
          }
        }
      },
      "sms_event_common": {
        "type": "object",
        "required": [
          "event_id",
          "object_type",
          "timestamp"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "object_type": {
            "type": "string",
            "enum": [
              "sms"
            ],
            "description": "The event relates to an SMS message."
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          }
        }
      },
      "sms_drafted": {
        "title": "drafted",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "drafted"
                ],
                "description": "An SMS notification was drafted."
              },
              "data": {
                "$ref": "#/components/schemas/other_event_common_data"
              }
            }
          }
        ]
      },
      "sms_attempted": {
        "title": "attempted",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "attempted"
                ],
                "description": "An SMS could not be sent to the delivery provider, but will retry."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_sent": {
        "title": "sent",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "sent"
                ],
                "description": "An SMS notification was sent. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient"
                    ],
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "The body of your message. This key only appears if you enabled the *Body Content* option when setting up your webhook."
                      },
                      "recipient": {
                        "type": "string",
                        "description": "The MSISDN (phone number) of the SMS recipient."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_delivered": {
        "title": "delivered",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "delivered"
                ],
                "description": "An SMS notification was delivered to a recipient."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient"
                    ],
                    "properties": {
                      "recipient": {
                        "type": "string",
                        "description": "The MSISDN (phone number) of the SMS recipient."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_clicked": {
        "title": "clicked",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "clicked"
                ],
                "description": "A recipient tapped a link in an SMS message they received."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "link_id",
                      "href"
                    ],
                    "properties": {
                      "recipient": {
                        "type": "string",
                        "description": "The MSISDN (phone number) of the SMS recipient."
                      },
                      "link_id": {
                        "$ref": "#/components/schemas/link_id"
                      },
                      "href": {
                        "$ref": "#/components/schemas/href"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_converted": {
        "title": "converted",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "converted"
                ],
                "description": "A person matched a conversion goal attributed to an SMS."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient"
                    ],
                    "properties": {
                      "recipient": {
                        "type": "string",
                        "description": "The MSISDN (phone number) of the SMS recipient."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_bounced": {
        "title": "bounced",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "bounced"
                ],
                "description": "The delivery provider was unable to deliver an SMS message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "recipient",
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      },
                      "recipient": {
                        "type": "string",
                        "description": "The MSISDN (phone number) of the SMS recipient."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_failed": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "failed"
                ],
                "description": "An SMS couldn't be sent to the delivery provider."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "sms_undeliverable": {
        "title": "failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/sms_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "undeliverable"
                ],
                "description": "A message was undeliverable. Undeliverable messages are messages that have either hit a message limit, come from a newsletter that was cancelled or deleted, or an environment that has delivery disabled (which is something you might do if you’re testing an integration). If you’re not using message limits, you probably won’t see this event."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "slack_event": {
        "title": "Slack",
        "description": "Events pertaining to Slack messages.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/slack_drafted"
          },
          {
            "$ref": "#/components/schemas/slack_attempted"
          },
          {
            "$ref": "#/components/schemas/slack_sent"
          },
          {
            "$ref": "#/components/schemas/slack_clicked"
          },
          {
            "$ref": "#/components/schemas/slack_failed"
          },
          {
            "$ref": "#/components/schemas/slack_undeliverable"
          }
        ],
        "discriminator": {
          "propertyName": "metric",
          "mapping": {
            "drafted": "#/components/schemas/slack_drafted",
            "attempted": "#/components/schemas/slack_attempted",
            "sent": "#/components/schemas/slack_sent",
            "clicked": "#/components/schemas/slack_clicked",
            "failed": "#/components/schemas/slack_failed",
            "undeliverable": "#/components/schemas/slack_undeliverable"
          }
        }
      },
      "slack_event_common": {
        "type": "object",
        "required": [
          "event_id",
          "object_type",
          "timestamp"
        ],
        "properties": {
          "event_id": {
            "$ref": "#/components/schemas/event_id"
          },
          "object_type": {
            "type": "string",
            "enum": [
              "slack"
            ],
            "description": "The event relates to a Slack message."
          },
          "timestamp": {
            "$ref": "#/components/schemas/webhook_timestamp"
          }
        }
      },
      "slack_drafted": {
        "title": "drafted",
        "allOf": [
          {
            "$ref": "#/components/schemas/slack_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "drafted"
                ],
                "description": "A slack message was drafted."
              },
              "data": {
                "$ref": "#/components/schemas/other_event_common_data"
              }
            }
          }
        ]
      },
      "slack_attempted": {
        "title": "attempted",
        "allOf": [
          {
            "$ref": "#/components/schemas/slack_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "attempted"
                ],
                "description": "A slack message failed and will be retried."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
                  {
                    "type": "object",
                    "required": [
                      "failure_message"
                    ],
                    "properties": {
                      "failure_message": {
                        "$ref": "#/components/schemas/failure_message"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "slack_sent": {
        "title": "sent",
        "allOf": [
          {
            "$ref": "#/components/schemas/slack_event_common"
          },
          {
            "type": "object",
            "required": [
              "metric",
              "data"
            ],
            "properties": {
              "metric": {
                "type": "string",
                "enum": [
                  "sent"
                ],
                "description": "A slack message was sent. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your message."
              },
              "data": {
                "description": "Contains information about the event, specific to the `object_type` and `metric`.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/other_event_common_data"
                  },
[...]
